<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p id="jmad-artist">{{ solo.artist }}</p>
<p id="jmad-track">
    {{ solo.track.name }}
    {% with solos=solo.track.solos.count %}
        [{{solos}} solo{{ solos|pluralize }}]
    {% endwith %}
</p>
<p id="jmad-album">
    {{ solo.track.album.name }}
    {% with tracks=solo.track.album.tracks.count %}
        [{{tracks}} track{{ tracks|pluralize }}]
    {% endwith %}
</p>
    <p id="jmad-start-time">{{ solo.start_time }}</p>
    <p id="jmad-end-time">{{ solo.end_time }}</p>
</body>
</html>